* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #48555B;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.top {
    background: url(./img/bg-top.jpg) no-repeat center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 41px 0 71px;
}
h1 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 5.709px;
    color: #FFF;
    text-align: center;
    font-size: 60px;
    margin: 0;
}
.description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin: 0;;
}
.scroll-down {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3.7px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}
.scroll-down:hover {
    transform: scale(1.1);
}
.container {
    max-width: 940px;
    margin: 0 auto;
}
.sticky-menu {
    position: sticky;
    top: 0;
    background-color: #FFF;
    z-index: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 100%;
    max-width: 378px;
}
.mark {
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1.091px;
    text-transform: uppercase;

}
li {
    transition: 0.3s;
    font-weight: 700;

}
.mark:hover li {
    color: #00A4E5;
    transform: scale(1.1);
}
.menu-line {
    border: 1px solid #E6E6E6;
    opacity: 0.3;
    margin: 0;
    margin-bottom: 48px;
}
.burger {
    display: none;
    background-color: white;
    border: 1px solid #E6E6E6;
    opacity: 0.7;
    padding: 7px 3px 3px 3px;
}
.burger:hover {
    cursor: pointer;
    transform: scale(1.1);
}
h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
    margin: 0;
}
.blue-line {
    border: 2px solid #00A4E5;
    width: 50px;
    height: 0px;
}
.our-story {
    width: 100%;
    display: grid;
    grid-template-columns: 405px 450px;
    gap: 77px;
    margin-top: 81px;
}
.text {
    font-size: 13px;
    line-height: 23px; /* 176.923% */
    letter-spacing: 0.188px;
    margin: 0;
}
.bold {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.188px;
    margin-bottom: 30px;
}
.left-side {
    display: flex;
    flex-direction: column;
}
.right-side {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    gap: 12px;
    max-width: 460px;
    width:100%;
}
.img-container {
    height: 209px;
    max-width: 140px;
    padding-left: 14px;
    padding-top: 15px;
    width: 100%;
}
a:hover .img-container {
    transform: scale(1.1);
}
.plan {
    background: url(./img/story-pic.png) no-repeat;
    background-position: bottom right;
    background-size: cover;
}
.manage {
    background: url(./img/story-pic2.png) no-repeat;
    background-position: -50px 0px;
    background-size: cover;
}
.build {
    background: url(./img/story-pic3.png) no-repeat;
    background-position: 65%;
    background-size: cover;
}
.img-text {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px; /* 120.833% */
    letter-spacing: 0.188px;
    text-transform: uppercase;
    margin:0;
}
.img-link {
    text-decoration: none;
}
#our-capabilities {
    display:flex;
    flex-direction: column;
    margin-top: 128px;
    margin-bottom: 154px;
    flex-wrap: wrap;
}
.cap-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 78px;
}
.cap-header .blue-line{
    margin-left: 0;
}
.cap-header h2 {
    text-align: left;
    margin-right: 120px;
}
.cap-text {
    font-size: 11px;
    line-height: 19px; /* 172.727% */
    letter-spacing: 0.2px;
    margin: 0 30px;
    max-width: 405px;
    width:100%;
}
.all-services-btn {
    color: #FFF;
    background-color:#00A4E5;
    text-align: center;
    padding: 11px 29px;
    min-width:92px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    border:1px solid transparent;
    cursor: pointer;
    transition: 0.5s;
}
.all-services-btn:hover {
    color: #00A4E5;
    background: #FFF;
    border: 1px solid #00A4E5;
    transform: scale(1.1);
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    gap: 27px;
    height: 330px;
}
.card {
    border: 1px solid #E6E6E6;
    padding: 38px 22px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.427px;
    margin-top: 25px;
    margin-bottom: 13px;
}
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 498px;
    background: url("./img/bg-footer.jpg") no-repeat center/cover;
    margin-bottom: -1px;
}
.contact-question {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px; /* 120% */
    letter-spacing: 0.15px;
    max-width: 350px;
}
.get-in-touch-btn {
    background: #00A4E5;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 11px 26px;
    border:1px solid transparent;
    cursor: pointer;
    transition: 0.5s;
}
.get-in-touch-btn:hover {
    color: #00A4E5;
    background: #FFF;
    border: 1px solid #00A4E5;
    transform: scale(1.1);
}
.black {
    border: none;
    background-color: black;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.copyright {
    height: 60px;
}
.authors {
    color: #FFF;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.846px;
    margin: 0;
}
.content {
    display: flex;
    max-width: 685px;
    width: 100%;
}
.content p {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.846px;
    margin: 0;
    margin-right: 68px;
    flex-grow: 1;
}
.form {
    display: flex;
    flex-grow: 1;
}
.signup-input {
    border: 1px solid #979797;  
    max-width: 214px;
    width: 100%;
    padding: 10px 16px 11px;

}
.signup-btn {
    background: #00A4E5;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 11px 48px;
    border:1px solid transparent;
    cursor: pointer;
    transition: 0.5s;
    height: 40px;
}
.signup-btn:hover {
    color: #00A4E5;
    background: #FFF;
    border: 1px solid #00A4E5;
    transform: scale(1.1);
}
.mobile-menu {
    top: 0;
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background:  #fff;
    padding: 66px 28px 0 26px;
    transition: 1s;
    right: 0;
}
.mobile-menu .mark {
    font-size: 28px;
    font-weight: 700px;
}
.mobile-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 395px;
    justify-content: space-between;
}
.mobile-nav .mark:hover{
    color: #00A4E5;
    transform: scale(1.1);
}
.close-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 28px;
    top: 66px;
    transition: 0.5s;
}
.close-btn:hover {
    transform: scale(1.1);
    transform: rotate(180deg);
    cursor:pointer;
}
.d-none {
    right: -100%;
}
.close-btn img {
    width: 22.873px;
    height: 22.244px;
    object-fit: cover;
    object-position: center;
}
@media (max-width: 950px) {
    .left-side {
        max-width: fit-content;
    }
    .our-story {
        grid-template-columns: 1fr;
    }
    .card-container {
        height:100%;
    }
    .container {
        padding: 5px;
    }
    .cap-header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .cap-header h2 {
        margin-right: 0;
    }
    .cap-header .blue-line {
        margin-left: auto;
    }
    .content {
        flex-direction: column;
        gap:10px;
        align-items: center;
    }
    .content p {
        margin: 0 auto;
    }

}
@media (max-width:450px) {
    .right-side {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    .img-container {
        max-width: 430px;
        background-position: center;
    }
    .menu {
        display: none;
    }
    .burger {
        display: block;
    }
    .cap-text {
        margin: 0 auto;
    }
}
